
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 

*{
      
        }
 
#portfolioModal1{
        margin:0; padding:0;
        box-sizing: border-box;!important;
        font-family: 'GmarketSans'!important;
       color: #383838!important;
}
   #portfolioModal1 a{
        text-decoration: none; 
        color:black;
            }
  #portfolioModal1 li{
        list-style: none;
}

#portfolioModal1 .modal-body{

    max-width: 1920px;
    width: 100%;

    margin: 0 auto;
}
/*
        
.modal-body{
    margin: 0 auto;
     max-width: 1920px;
    width: 100%;
    
}

*/

.portfolio-modal .modal-content .modal-body .mmodal-title  {
   
	
	font-size: 5.8em;
     text-align: center;
    text-transform: uppercase;
	font-weight: 700;
        
}
.portfolio-modal .modal-content .text-muted {
   text-align: center;
	/*
    margin-bottom: 30px
    */
}
    
    
#ca_head{
    font-family: 'GmarketSans';
    font-weight: 500;
    background: #1361ca;
    display: flex;
    /* padding-left: 196px;
    padding-top: 218px; */
    PADDING: 40PX;
        JUSTIFY-CONTENT: CENTER;
}

.ca_title_area{
    margin-top: 70px;
    margin-left: 80px;
    color: white;
}


.ca_head_title{
    margin: 0;
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 300;
    
}

.ca_head_title2{
    
    
    
    font-size: 4.5rem;
    font-weight: 700;
    
}

.ca_head_title3{
    margin-bottom: 50px;
    line-height: 36px;
    font-size: 1.5rem;
    font-weight: 300;
    
}

.ca_page_bt{
  
    display: flex;
   
    
}

    .ca_page_bt a div{
        color: white;
    }


.ca_main_bt,.ca_sub_bt{
    max-width: 400px;
    height: 80px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    line-height: 80px;
    margin-right: 36px;
    font-size: 1.875rem;
    font-weight: 700;
    padding: 0 20px
}

.ca_main_bt:hover,.ca_sub_bt:hover{
    background: white;
    color: #1361ca;
    
    
}
.end_button{
    text-align: center;
    
}



/*----------모바일-----------*/
@media only screen and (max-width: 768px) {
  .row:before{
    all:unset;

  }
  
.row.text-center.area1{
   display: grid;
    grid-template-columns: repeat(3, 1fr);


}
     

        .container{
            all:unset;
                

        }

#ca_head{
    display: block;
    padding: 0 30px;
}
    
 .ca_mac_img img{
        margin-top: 50px;
        width: 100%;
       
        
    }    
    
    
    
.ca_title_area{
   
    text-align: center;
    margin:0;
    color: white;
}


.ca_head_title{
    margin: 0;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 300;
    
}

.ca_head_title2{
    margin-bottom: 40px;
    
    
    font-size: 30px;
    font-weight: 700;
    
}

.ca_head_title3{
    margin-bottom: 30px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
    
}

.ca_page_bt{
  
    padding-bottom: 50px;
    
    display: flex;
    justify-content:center;
   
 
}

    
.ca_main_bt,.ca_sub_bt{
   
   max-width: 110px;
    
    height: 60px;
    
    
    margin-right: 20px;
    line-height: 60px;
   
    font-size: 15px;
    
    padding: 0;
    
   
}
 
    
    .ca_sub_bt{
        margin: 0;
        
    }
    
    
    .ca_page_bt a div{
            
     width: 130px;
     
        
        
    }    

  
    
    
    
}
    
    
    
    
/*----------테블릿-----------*/
@media only screen and (max-width: 1024px) {
 
    
    
    
}    

    
    
    
